@model IEnumerable<AndHowIsItApp.Models.UserAdministrationModel>
@{
    ViewBag.Title = "Manage Users";
}

<h3>@AndHowIsItApp.Resources.Language.UsersList</h3>
<table class="table table-bordered mt-3">
    <tr>
        <td>@AndHowIsItApp.Resources.Language.UserName</td>
        <td>@AndHowIsItApp.Resources.Language.Email</td>
        <td>@AndHowIsItApp.Resources.Language.PersonalPage</td>
        <td>@AndHowIsItApp.Resources.Language.Role</td>
        <td>@AndHowIsItApp.Resources.Language.BlockUnblock</td>
        <td>@AndHowIsItApp.Resources.Language.Delete</td>
        @if (User.IsInRole("adminMaster"))
        {
            <td>@AndHowIsItApp.Resources.Language.AdminRights</td>
        }
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            @using (Html.BeginForm("ManageUsers", "Admin", user, FormMethod.Post))
            {
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@Html.ActionLink(AndHowIsItApp.Resources.Language.PersonalPage, "PersonalPage", "Home", new { userId = user.Id }, new { @class = "btn btn-outline-dark"})</td>
                if (user.IsAdmin)
                {
                    <td>admin</td>
                }
                else
                {
                    <td>user</td>
                }
                if (user.IsAdmin)
                {
                    <td></td>
                }
                else if (user.IsBlocked)
                {
                    <td><button class="btn btn-outline-dark" name="option" value="block">@AndHowIsItApp.Resources.Language.Unblock</button></td>
                }
                else
                {
                    <td><button class="btn btn-outline-dark" name="option" value="block">@AndHowIsItApp.Resources.Language.Block</button></td>
                }
                if (user.IsAdmin)
                {
                    <td></td>
                }
                else
                {
                    <td><button class="btn btn-outline-dark" name="option" value="delete">@AndHowIsItApp.Resources.Language.Delete</button></td>
                }
                if (User.IsInRole("adminMaster"))
                {
                    if (user.IsAdmin)
                    {
                        <td><button class="btn btn-outline-dark" name="option" value="toadmin">@AndHowIsItApp.Resources.Language.RevokeRights</button></td>
                    }
                    else
                    {
                        <td><button class="btn btn-outline-dark" name="option" value="toadmin">@AndHowIsItApp.Resources.Language.GiveRights</button></td>
                    }
                }
            }
        </tr>
    }
</table>
