@model AndHowIsItApp.Models.ReviewEditViewModel
@{
    ViewBag.Title = "EditReview";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
@using (Html.BeginForm("EditReview", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>@AndHowIsItApp.Resources.Language.EditReview</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.UserId);
    @Html.HiddenFor(m => m.ReviewId);
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Text, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReviewerRating, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ReviewerRating, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="text" id="input-tag" onfocus="autoCompleteTags()">
            <button type="button" class="btn btn-secondary" onclick="addTag()">@AndHowIsItApp.Resources.Language.Add</button>
        </div>
        <div class="col-md-offset-2 col-md-10" id="selected-tags">
            @foreach (var t in Model.Tags)
            {
                <input type="text" name="tags" value="@t" id="tag-@t" onclick="removeTag('tag-@t')" />
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#editReviewModal">@AndHowIsItApp.Resources.Language.Edit</div>
            <div class="modal fade" id="editReviewModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="editModalLabel">@AndHowIsItApp.Resources.Language.EditReviewConfirm</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label=@AndHowIsItApp.Resources.Language.Cancel></button>
                        </div>
                        <div class="modal-body">
                            @AndHowIsItApp.Resources.Language.EditReviewConfirmText @Model.Title?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">@AndHowIsItApp.Resources.Language.Cancel</button>
                            <button type="submit" class="btn btn-outline-success" name="option">@AndHowIsItApp.Resources.Language.Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}