@{
    ViewBag.Title = "PersonalPage";
}

<h2>Персональная страница @ViewBag.UserName | @ViewBag.UserLikes</h2>
@Html.ActionLink("Добавить обзор", "CreateReview", new { userId = ViewBag.UserId }, new { @class = "btn btn-outline-dark" } )

<h3 class="mt-3">Мои обзоры</h3>
<div>
    @Html.Partial("PreviewSortBar")
</div>

<div>
    @Html.Partial("PreviewSet")
</div>