@model IEnumerable<AndHowIsItApp.Models.PreviewModel>

<h3>@ViewBag.ParagraphName</h3>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="results-set">
            @foreach (var p in Model)
            {
                <div class="col" name="preview-card">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <div class="card-title d-flex justify-content-between">
                                <h4>@p.Title</h4>
                                <h4 id="likes">@p.Likes</h4>
                            </div>
                            <div class="card-text">Автор @p.Author.UserName | @p.Author.Likes</div>
                        </div>
                        <div class="w-100 ratio ratio-1x1" name="picture" id="picture-@p.ReviewId" data-filepath="@p.PictureLink" data-postfix="_preview"></div>
                        <div class="card-body">
                            <div class="card-title">
                                <div class="d-flex justify-content-between">
                                    <h4>@p.Subject.Name</h4>
                                    <h4 id="subjectRating">@p.Subject.Rating</h4>
                                </div>
                                <p class="card-text">Категория @p.Subject.Category</p>
                            </div>
                            <div class="d-flex">
                                <p class="card-text" id="reviewerRating">@p.Rating</p>
                                <p class="card-text">/10</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @Html.ActionLink("Просмотр", "ReviewPage", new { reviewId = p.ReviewId }, new { @class = "btn btn-sm btn-outline-secondary" })
                                </div>
                                <small class="text-muted" id="date">@p.Date</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>