<h5>@AndHowIsItApp.Resources.Language.SortBy:</h5>
<select class="form-select btn btn-outline-dark" name="sort" id="sortSelector" onchange="sortResults()">
    <option value="date-desc" selected>@AndHowIsItApp.Resources.Language.DateDesc</option>
    <option value="date-asc">@AndHowIsItApp.Resources.Language.DateAsc</option>
    <option value="likes-desc">@AndHowIsItApp.Resources.Language.LikesDesc</option>
    <option value="likes-asc">@AndHowIsItApp.Resources.Language.LikesAsc</option>
    <option value="subjectRating-desc">@AndHowIsItApp.Resources.Language.SubjectRateDesc</option>
    <option value="subjectRating-asc">@AndHowIsItApp.Resources.Language.SubjectRateAsc</option>
    <option value="reviewerRating-desc">@AndHowIsItApp.Resources.Language.AuthorRatingDesc</option>
    <option value="reviewerRating-asc">@AndHowIsItApp.Resources.Language.AuthorRatingAsc</option>
</select>