@using Microsoft.AspNet.Identity
@model AndHowIsItApp.Models.ReviewShowViewModel

@{
    ViewBag.Title = "ReviewPage";
}

@Html.Raw("<img style='width:200px; height:200px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(ViewBag.Picture) + "\" />")

@if (User.IsInRole("admin") || User.Identity.GetUserId() == Model.AuthorId)
{
    <div>@Html.ActionLink("Изменить", "EditReview", new { userId = Model.AuthorId, reviewId = Model.Id }, null)</div>
    <div>@Html.ActionLink("Удалить", "DeleteReview", new { userId = Model.AuthorId, reviewId = Model.Id }, null)</div>
}

<div hidden id="subject-id">@Model.Subject.Id</div>
<h2>Категория: @Model.Subject.Category</h2>
<h1>@Model.Subject.Name</h1>
<div id="usersRating">@Model.Subject.Rating</div>

@if (Request.IsAuthenticated)
{
    <div>Ваша оценка</div>
    <input type="radio" name="subjectRating" id="subjectRating-1" onchange="rateSubject(1)" />
    <input type="radio" name="subjectRating" id="subjectRating-2" onchange="rateSubject(2)" />
    <input type="radio" name="subjectRating" id="subjectRating-3" onchange="rateSubject(3)" />
    <input type="radio" name="subjectRating" id="subjectRating-4" onchange="rateSubject(4)" />
    <input type="radio" name="subjectRating" id="subjectRating-5" onchange="rateSubject(5)" />
}
<br />

<div hidden id="review-id">@Model.Id</div>
<h2>@Model.Title</h2>
<div id="allReviewLikes">@Model.Likes</div>

@if (Request.IsAuthenticated)
{
    <input type="checkbox" name="reviewLike" id="reviewLike" onchange="likeReview()" />
}

<h2>Автор @Model.Author.UserName</h2>
<h3>@Model.Author.Likes</h3>

<div>Создано @Model.CreateDate</div>


<div>@Model.Text</div>

<h2>@Model.Rating/10</h2>

@using (Html.BeginForm("SearchResults", "Home"))
{
    foreach (var tag in Model.Tags)
    {
        <input type="submit" name="tagName" value="@tag">
    }
}

<div>Изменено @Model.LastChangeDate</div>

<div>
    @Html.Action("GetPreviewsBySubject", new { subject = Model.Subject.Id, currentReview = Model.Id })
</div>
@{
    if (Request.IsAuthenticated)
    {
        <h3>Добавить комментарий:</h3>
        using (Html.BeginForm("AddComment", "Home", FormMethod.Post))
        {
            <input type="hidden" name="reviewId" value="@Model.Id" />
            <input type="text" name="commentText" />
            <input type="submit" value="Добавить" />
        }
    }
}
<h3>Комментарии:</h3>
<div id="allComments">
    @Html.Action("GetComments", new { reviewId = Model.Id })
</div>