@model AndHowIsItApp.Models.Review

@{
    ViewBag.Title = "ReviewPage";
}


@Html.Raw("<img style='width:120px; height:120px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(ViewBag.Picture) + "\" />")


<div hidden id="subject-id">@Model.Subject.Id</div>
<h1>@Model.Subject.Name</h1>
<div id="usersRating">@ViewBag.SubjectRating</div>

@if (Request.IsAuthenticated)
{
    <div>Ваша оценка</div>
    <input type="radio" name="subjectRating" id="subjectRating-1" onchange="rateSubject(1)" />
    <input type="radio" name="subjectRating" id="subjectRating-2" onchange="rateSubject(2)" />
    <input type="radio" name="subjectRating" id="subjectRating-3" onchange="rateSubject(3)" />
    <input type="radio" name="subjectRating" id="subjectRating-4" onchange="rateSubject(4)" />
    <input type="radio" name="subjectRating" id="subjectRating-5" onchange="rateSubject(5)" />
}
<br />

<div hidden id="review-id">@Model.Id</div>
<h2>@Model.Name</h2>
<div id="allReviewLikes">@ViewBag.ReviewLikes</div>

@if (Request.IsAuthenticated)
{
    <input type="checkbox" name="reviewLike" id="reviewLike" onchange="likeReview()" />
}

<h2>Автор @Model.ApplicationUser.UserName</h2>

<div>Создано @Model.CreateDate</div>


<div>@Model.Text</div>

<h2>@Model.ReviewerRating/10</h2>

@foreach (var t in ViewBag.Tags)
{
    <span>@t.Name</span>
}

<div>Изменено @Model.LastChangeDate</div>