<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/MyScripts.js")
    @Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                @Html.ActionLink(AndHowIsItApp.Resources.Language.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    @Html.Partial("_LanguagePartial")
                    @Html.Partial("_LoginPartial")
                    @using (Html.BeginForm("SearchResults", "Home", FormMethod.Get, new { @class = "d-flex", role = "search" }))
                    {
                        <input class="form-control me-2" type="search" name="searchString" placeholder=@AndHowIsItApp.Resources.Language.Search aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">@AndHowIsItApp.Resources.Language.Search</button>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - And How Is It App</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>