@using Microsoft.AspNet.Identity

@if (!Request.IsAuthenticated)
{
    <div class="navbar-nav me-auto ms-auto">
        @Html.ActionLink(AndHowIsItApp.Resources.Language.SignIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link active" })
    </div>
}
else
{
    <div class="navbar-nav dropdown me-auto ms-auto">
        <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            @User.Identity.GetUserName()
        </button>
        <ul class="dropdown-menu">
            <li>
                @Html.ActionLink(AndHowIsItApp.Resources.Language.MyPage, "PersonalPage", "Home", null, new { @class = "dropdown-item" })
            </li>
            @if (User.IsInRole("admin"))
            {
                <li>
                    @Html.ActionLink(AndHowIsItApp.Resources.Language.UsersList, "ManageUsers", "Admin", null, new { @class = "dropdown-item" })
                </li>
            }
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">@AndHowIsItApp.Resources.Language.LogOut</a>
                }
            </li>
        </ul>
    </div>
}